#categories {
  list-style: none;
}
#categories  li {  
  border-bottom: none;
  position: relative;
  padding: 4px 0;
  margin-bottom: 2px;
  overflow: hidden;
  text-shadow: none;
}
#categories li a {
  position: relative;
  display: block;
  padding-left: 12px;
  z-index: 1;
  line-height: 25px;
}
#categories li em {
  font-style: normal;
  font-size: .9em;
  right: 24px;
  position: absolute;
  top: 18px;
  color: inherit;
  line-height: 25px;
}
#categories li em:before {
  content: "(";
}
#categories li em:after {
  content: ")";
}
